.main_carousel {
  position: relative;
}

.image1 {
  position: absolute;
  left: 38%;
  top: 6rem;
  z-index: 1;
}

.image2 {
  position: absolute;
  left: 34.4%;
  top: 29rem;
  z-index: 2;
}

.image3 {
  position: absolute;
  position: absolute;
  left: 43%;
  top: 24rem;
}

.image4 {
  position: absolute;
  left: 51%;
  top: 3rem;
}

.image5 {
  position: absolute;
  left: 38%;
  top: 9rem;
  z-index: 2;
}

.image6 {
  position: absolute;
  left: 42%;
  top: 32rem;
}

.image7 {
  position: absolute;
  left: 58%;
  top: 28rem;
}

.image8 {
  position: absolute;
  left: 58%;
  top: 33rem;
}

.image9 {
  position: absolute;
  left: 58%;
  top: 38rem;
}

.image10 {
  position: absolute;
  left: 58%;
  top: 43rem;
}

.image11 {
  position: absolute;
  left: 58%;
  top: 48rem;
}

/* slider 2  */

.image12 {
  position: absolute;
  position: absolute;
  left: 38%;
  top: 6rem;
  z-index: 1;
}

.image13 {
  position: absolute;
  left: 34.4%;
  top: 29rem;
  z-index: 2;
}

.image14 {
  position: absolute;
  position: absolute;
  left: 43%;
  top: 24rem;
}

.image15 {
  position: absolute;
  left: 51%;
  top: 3rem;
}

.image16 {
  position: absolute;
  left: 38%;
  top: 13rem;
  z-index: 2;
}

.image17 {
  position: absolute;
  left: 36%;
  top: 25rem;
}

.image18 {
  position: absolute;
  left: 58%;
  top: 28rem;
}

.image19 {
  position: absolute;
  left: 58%;
  top: 33rem;
}

.image20 {
  position: absolute;
  left: 58%;
  top: 38rem;
}

.image21 {
  position: absolute;
  left: 58%;
  top: 43rem;
}

.image22 {
  position: absolute;
  left: 58%;
  top: 48rem;
}

/* slider 3 */

.image23 {
  position: absolute;
  position: absolute;
  left: 38%;
  top: 6rem;
  z-index: 1;
}

.image24 {
  position: absolute;
  left: 34.4%;
  top: 31rem;
  z-index: 2;
}

.image25 {
  position: absolute;
  position: absolute;
  left: 43%;
  top: 24rem;
}

.image26 {
  position: absolute;
  left: 51%;
  top: 3rem;
}

.image27 {
  position: absolute;
  left: 38%;
  top: 11rem;
  z-index: 2;
}

.image28 {
  position: absolute;
  left: 43%;
  top: 38rem;
}

.image29 {
  position: absolute;
  left: 58%;
  top: 30rem;
}

.image30 {
  position: absolute;
  left: 58%;
  top: 35rem;
}

.image31 {
  position: absolute;
  left: 58%;
  top: 40rem;
}

.image32 {
  position: absolute;
  left: 58%;
  top: 45rem;
}

.image33 {
  position: absolute;
  left: 58%;
  top: 50rem;
}



/* slider 4 */


.image34 {
  position: absolute;
  position: absolute;
  left: 38%;
  top: 6rem;
  z-index: 1;
}

.image35 {
  position: absolute;
  left: 34.4%;
  top: 31rem;
  z-index: 2;
}

.image36 {
  position: absolute;
  position: absolute;
  left: 43%;
  top: 24rem;
}

.image37 {
  position: absolute;
  left: 51%;
  top: 3rem;
}

.image38 {
  position: absolute;
  left: 38%;
  top: 11rem;
  z-index: 2;
}

.image39 {
  position: absolute;
  left: 41%;
  top: 32rem;
}

.image40 {
  position: absolute;
  left: 58%;
  top: 30rem;
}

.image41 {
  position: absolute;
  left: 58%;
  top: 35rem;
}

.image42 {
  position: absolute;
  left: 58%;
  top: 40rem;
}

.image43 {
  position: absolute;
  left: 58%;
  top: 45rem;
}

.image44 {
  position: absolute;
  left: 58%;
  top: 50rem;
}

/* slider 5 */




.image45 {
  position: absolute;
  position: absolute;
  left: 38%;
  top: 6rem;
  z-index: 1;
}

.image46 {
  position: absolute;
  left: 34.4%;
  top: 31rem;
  z-index: 2;
}

.image47 {
  position: absolute;
  position: absolute;
  left: 43%;
  top: 24rem;
}

.image48 {
  position: absolute;
  left: 51%;
  top: 3rem;
}

.image49 {
  position: absolute;
  left: 38%;
  top: 11rem;
  z-index: 2;
}

.image50 {
  position: absolute;
  left: 43%;
  top: 38rem;
}

.image51 {
  position: absolute;
  left: 58%;
  top: 30rem;
}

.image52 {
  position: absolute;
  left: 58%;
  top: 35rem;
}

.image53 {
  position: absolute;
  left: 58%;
  top: 40rem;
}

.image54 {
  position: absolute;
  left: 58%;
  top: 45rem;
}

.image55 {
  position: absolute;
  left: 58%;
  top: 50rem;
}

.wrapper {
  background-color: rgba(249, 241, 235, 1);
}

.slideContent {
  justify-content: center;
  align-items: center;
}

.imageNumbering {
  position: absolute;
  top: 15%;
  right: 15%;
  font-family: "NeueMontreal-Regular";
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}
.imageNumbering span {
  color: #cc7d45;
}

@media screen and (max-width: 1440px) {
  .imageNumbering {
    top: 17%;
    right: 13%;
    font-size: 20px;
  }
}


@media screen and (max-width: 768px) {
  .imageNumbering {
    display: none;
  }
  .wrapper {
    padding: 4rem 0;
  }
}

@media screen and (max-width: 476px) {
  .wrapper {
    padding: 2rem 0;
  }
}
